* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(rgb(64, 156, 72), rgb(31, 129, 146));
  color: white;
  display: flex;
  justify-content: center;
}

button {
  width: 50px;
  height: 2.5rem;
}

h1 {
  margin: 2rem;
}

.formDiv {
  display: flex;
  justify-content: center;
  height: 2.5rem;
}

input {
  width: 15rem;
  padding: 0.1rem;
}

i {
  color: rgb(34, 145, 219);
}
